body {
    /* background-color: #F2E7DC; */
    background-color: #eaeded;
}

.app-bg {
    width: 500px;
    height: 800px;
    margin: auto;
    margin-top: 2rem;
    padding: 3rem;
    border: none;
    text-align: center;
    background-color: #D99E91;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
}

.app {
    width: 400px;
    height: 700px;
    margin-top: 4rem;
    margin: auto;
    background-color: #F2E7DC;
    color: #A65D56;
    border-radius: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h2 {
    font-family: prata;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: #591914;
}

h4 {
    font-family: shirkhand;
    padding: 1rem;
    margin-top: 2.5rem;
    font-size: 2rem;
    color: #591914;
}

h5 {
    font-family: prata;
    color: white;
    word-spacing: .3rem;
    font-size: 25px;
}

#new-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    padding: 7px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: #A65D56;
    font-family: georgia;
    border-radius: 10px;
}

.fa-plus {
    background-color: #D99E91;
    padding: .5rem;
    color: white;
    border-radius: 40px;
}

.card {
    border: none;
}

#individual {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 1.5rem;
    background-color: #D9B3B0;
    color: #591914;
}

#saved div .options {
    justify-self: right;
    display: flex;
    gap: 8px;
}

.options {
    justify-self: right;
    display: flex;
    gap: 15px;
}

.options i {
    cursor: pointer;
}

span,
p {
    font-family: Georgia;
    text-align: left;
}

.mp {
    margin-top: 1rem;
    font-size: 20px;
    font-family: georgia;
    color: #591914;
}

.modal-header {
    background-color: #A65D56;
}

.modal-body {
    height: 600px;
    background-color: #D9B3B0;
    color: #A65D56;
    font-weight: bold;
}

#err {
    color: #591914;
    font-weight: normal;
}

button .btn-close {
    color: white;
}

.modal-footer {
    background-color: #D9B3B0;
    border: none;
}



.close {
    color: white;
    opacity: 1;
    background-color: #591914;
}

.form-control {
    background-color: #F2E7DC;
}